/*      COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/*      GLOBAL STYLES
----------------------------------------------------------------*/
/*
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Josefin Sans', sans-serif;

}

/* Content Box */
.content-box{
    font-family: 'Josefin Sans', sans-serif;
}

.content-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content-box-text h2{
    text-align: center;
}


/* Phones */
@media (max-width: 575.98px) {
    .content-box-iphone{
        display: flex;
        flex-direction: column-reverse;

    }
    .content-box img{
        margin-top: 12%;
        margin-bottom: 6%;

    }
}

